.dice-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 10px;


    cursor:default;

    position: absolute;
    z-index: 90;
    bottom:170px;
    right: 100px;

    background-color: #e0e0e062;
    backdrop-filter: blur(5px);
}
.dice-container.active:active {
    background-color: #c5c4c4;
}
.dice-container.active{
    animation: light 2s infinite;
    cursor: pointer;

}
@keyframes light {
    0% {
        background-color: #e0e0e062;
    }
    50% {
        background-color: #d9b25262;
    }
    100% {
        background-color: #e0e0e062;
    }
}


.die {
    font-size: 50px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#plus{
    font-size: 50px;
    padding: 10px;
    border-radius: 10px;
    width: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}